<nav class="navbar navbar-expand-lg navbar-dark p-2 pt-3 border-start border-bottom border-end border-secondary">
    <div class="container-fluid">
    <a class="navbar-brand text-start w-100" routerLink="" title="Hola!">SALA DE JUEGOS</a>
    
    <button class="border-0 mt-2 top-0 end-0 navbar-toggler position-absolute" type="button" (click)="toggleNavbar = !toggleNavbar" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleNavbar">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a id="linkHome" class="nav-link" routerLink="">Inicio</a>
            </li> -->
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                    Juegos
                </a>
                <ul ngbDropdownMenu class="dropdown-menu-dark">
                    <li><a ngbDropdownItem class="nav-link" routerLink="ahorcado">Ahorcado</a></li>
                    <li><a ngbDropdownItem class="nav-link" routerLink="mayor-o-menor">Mayor o menor</a></li>
                    <li><a ngbDropdownItem class="nav-link" routerLink="preguntados">Preguntados</a></li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                        {{usuario?.nombre}}
                </a>
                <ul ngbDropdownMenu class="dropdown-menu-dark">
                    <li><a ngbDropdownItem class="nav-link" routerLink="usuario">Ver perfil</a></li>
                    <li><a ngbDropdownItem class="nav-link" (click)="logout()">Salir</a></li>
                </ul>
            </li>            
            <li class="nav-item text-nowrap">
                <a id="linkQuienSoy" class="nav-link" routerLink="quiensoy">Quién Soy</a>
            </li>
        </ul>
    </div>
</div>
</nav>

<div class="bg-transparent text-bg-dark">
    <router-outlet></router-outlet>
</div>
