
<hr>
<div class="row justify-content-center align-items-center g-2">
    <div class="col">
      <img class="foto" src="../../assets/img/foto-1.jpg" alt="Foto frontal">
      <h4>Lautaro Lucas Lemos</h4>
      <p>Desarrollador Full Stack .NET Jr.</p>
    </div>
</div>
<hr>
<div class="row justify-content-center align-items-center g-2">
  <div class="col">
    <h5>DATOS PERSONALES</h5>
    <br>
    <dl class="row">
      <dt class="col-sm-3">Edad</dt>
      <dd class="col-sm-9">30 Años</dd>

      <dt class="col-sm-3">Nacionalidad</dt>
      <dd class="col-sm-9">Argentino</dd>

      <dt class="col-sm-3">Educación</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dd class="col-sm-8">Tecnico Electrónico</dd>
          <dd class="col-sm-4 text-secondary">2006-2011</dd>
          <dd class="col-sm-8">Tecnico Universitario en Programación</dd>
          <dd class="col-sm-4 text-secondary">2020-(En curso)</dd>
        </dl>
      </dd>
    </dl>
  </div>
</div>
<hr>
<div class="row justify-content-center align-items-center g-2">
  <h5>JUEGO PROPIO</h5>
  <div class="col">
    <br>
    <h4>
      Mastermind
    </h4>
    <p>
      Se juega en un tablero con fichas blancas y negras pequeñas y de otros colores, de un tamaño algo superior. 
    </p><p>
      Uno de los jugadores escoge cuatro de fichas de colores y pone un código secreto oculto del otro jugador.
    </p><p>
      El otro jugador, tomando fichas de colores del mismo conjunto, aventura una posibilidad; la cual es contestada con fichas negras (cuya cantidad indica las fichas de color bien colocadas) o blancas (cuya cantidad indica las fichas de color con el color correcto, pero mal colocadas).
    </p><p>
      Termina al averiguarse la combinación (es decir, se consigue una combinación con cuatro negras), o bien cuando se agote el tablero (15 combinaciones).     
    </p>
  </div>
  <div class="col-3">
    <img class="juego" src="../../assets/img/Mastermind.png" alt="Mastermind">
  </div>
</div>
<hr>

