<h1 class="m-3">MAYOR O MENOR</h1>

<div class="row">
    <div class="col">
        <div class="card bg-dark border-0 h-100 text-white-50">
            <div class="card-header">
                <span class="card-title fs-6">CARTA ANTERIOR</span>
            </div>
                <div class="card-body">
                    <img [src]="cartaAnterior">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark border-0 h-100 text-white-50">
            <div class="card-header">
                <span class="card-title fs-6">CARTA ACTUAL</span>
            </div>
                <div class="card-body">
                    <img [src]="cartaActual">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <h1 class="font-monospace text-warning" style="font-size: 1.5rem;">PUNTOS: {{puntuacion}}</h1>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-success w-50" (click)="clickMayor()">
            <fa-icon [icon]="faArrowUp" size="lg" animation="flip"></fa-icon>
            <span style="font-size: larger;"> MAYOR</span>
        </button>
        <br>
        <button class="btn btn-danger w-50 mt-2" (click)="clickMenor()">
            <fa-icon [icon]="faArrowDown" size="lg" animation="flip"></fa-icon>
            <span style="font-size: larger;"> MENOR</span>
        </button>
    </div>
</div>