<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <h1 class="h3 mb-3 fw-normal text-light">Inicio de Sesión</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="nombre@mail.com" formControlName="mail">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" formControlName="password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <ng-container *ngIf="mail?.hasError('mail')">
                <small class="text-danger">Fomato inválido</small>
            </ng-container>
            <ng-container *ngIf="password?.hasError('minlength')">
                <small class="text-danger">La clave debe tener mínimo {{password?.getError('minlength').requiredLength}} caracteres</small>
            </ng-container>
            <p class="text-danger">{{error}}</p>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        </form>
        <hr>
        <h6 class="text-secondary"> ¿No estás registrado? </h6>
        <button class="w-100 btn btn-lg btn-secondary" type="submit" (click)="goToRegistro()">Registro</button>

        <div class="w-100 mt-4">
            <h6 class="text-secondary"> Acceso rápido </h6>
            <button class="btn btn btn-info m-1" (click)="completarCampos(1)"><fa-icon [icon]="faUser"></fa-icon></button>
            <button class="btn btn btn-info m-1" (click)="completarCampos(2)"><fa-icon [icon]="faUser"></fa-icon></button>
        </div>

    </main>
</body>