@font-face {
  font-family: IndieFlower;
  src: url(../../../assets/fonts/IndieFlower-Regular.ttf);
}

h1 {
  font-family: IndieFlower;
}

#keyboard {
  margin: 5px;
}

.kb-row {
  display: flex;
  width: 100%;
  justify-content: center !important;
}

.kb-row .btn {
  width: 3em;
  height: 3em;
  margin: 0.2em;
  text-align: center;
}

.palabra {
  min-height: 2em;
}

.kb-row .btn-wide {
  width: 8em;
  height: 3em;
  margin: 0.2em;
}

.perdido {
  filter: blur(1px) invert(12%) sepia(42%) saturate(7060%) hue-rotate(354deg) brightness(85%) contrast(117%);
}